{% extends 'base.html.twig' %}

{% block title %}Tecnicos index{% endblock %}

{% block body %}
    <h1>Tecnicos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cpf</th>
                <th>Nome_completo</th>
                <th>Dt_nasc</th>
                <th>Valor_hora</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tecnico in tecnicos %}
            <tr>
                <td>{{ tecnico.id }}</td>
                <td>{{ tecnico.cpf }}</td>
                <td>{{ tecnico.nomeCompleto }}</td>
                <td>{{ tecnico.dtNasc ? tecnico.dtNasc|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tecnico.valorHora }}</td>
                <td>
                    <a href="{{ path('tecnicos_show', {'id': tecnico.id}) }}">show</a>
                    <a href="{{ path('tecnicos_edit', {'id': tecnico.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tecnicos_new') }}">Create new</a>
{% endblock %}
